h1{
    text-align: center;
    color: #2C3E50; 
    font-family: "times new roman";
    font-size: 36px;
}

body {
    background-color: #EAF6FF; 
    font-family: "times new roman";
    color: #1C1C1C; 
    margin: 0;
    padding: 0;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.indexyboton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.indexyboton button {
    background-color:#4A90E2 ;
    border-radius: 20px;
}

.indexyboton input {
    border-radius: 5px;
    width: 150px;
}

.contenedor-lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    width: 50%;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 20px;
}

#task-list {
    list-style: none;
}

#task-list li {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    background-color: #AED6F1; 
    border-radius: 10px;
    margin: 10px;
    word-break: break-word;


}

#task-list li button {
    flex-shrink: 0;
    margin-left: 70%;
    width: 100px;
    height: 30px;
    background-color: #EC7063; 
    border-radius: 20px;
}

